.button {
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color .4s ease;
}

.button__red {
    color: #fff;
    background-color: hsl(3, 61%, 60%);
}

.button__red:hover {
    background-color: hsl(3, 61%, 50%)
}

@media only screen and (min-width: 770px) {
    .button {
        padding: 15px 20px;
    }
}