@import 'site-header.css';
@import 'sitenav.css';
@import 'search-form.css';
@import 'section.css';
@import 'feature.css';
@import 'button.css';
@import 'benefit.css';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.cf::before, .cf::after {
    content: '';
    display: table;
}

.cf::after {
    clear: both;
}

body {
    color: #999;
    font-size: 14px;
    font-family: 'Roboto' sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
}

.square-boxes-divider {
    position: relative;
    margin-left: 0;
}

.square-boxes-divider,
.square-boxes-divider::before,
.square-boxes-divider::after {
    width: 4px;
    height: 4px;
    border: none;
    background-color: #c7c8c8;
}

.square-boxes-divider::before,
.square-boxes-divider::after {
    content: '';
    position: absolute;
}

.square-boxes-divider::before {
    left: 14px;
}

.square-boxes-divider::after {
    left: 28px;
}

.link--lined {
    position: relative;
    padding-left: 40px;
    color: hsl(3, 61%, 60%);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: padding .4s ease;
}

.link--lined:hover {
    padding-left: 50px;
}

.link--lined::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    width: 30px;
    height: 2px;
    background-color: hsl(3, 61%, 60%);
    transition: width .4s ease;
}

.link--lined:hover::before {
    width: 40px;
}